Django==4.2.13
gunicorn==22.0.0
psycopg2-binary==2.9.10
dj-database-url==2.1.0
whitenoise==6.7.0
django-jazzmin==3.0.0
Pillow==10.4.0
python-decouple==3.8
requests==2.32.3
torch==2.5.1
torchvision==0.20.1
numpy>=1.26.0
django-crispy-forms==2.1
crispy-bootstrap5==0.7